html, body {
  margin: 0;
  padding: 0;
  background: gray;
  font-family: sans-serif;
  height: 100%;
}

.nav-bar { 
	background-size: 100%;
	background: url("images/nav-bar-gradient.png") repeat-x top;
}
ul {
	display: inline;
	color: white;
	min-height: 20px;
	position: absolute;
}
li{
	display: inline;
	color: white;
	min-height: 20px;
	position: relative;
	
}
p {
	position: absolute;
	display: inline;
	color: white;
}
.inside {
  width: 960px;
  margin: 0 auto;
  border: dotted red;
}
.hat-logo {
	display: inline;
	margin: 10px 0 10px;
}